{% extends 'base.html.twig' %}

{% block title %}Marques{% endblock %}

	{% block body %}
	<div class="col-12 text-center">
	<img src="/imagesVG/Component/b3b.png" alt="banniere" class="img-fluid" style="width:2500px;height:700px">
		<article>
			<h1 class="text-center mt-4 h3"><strong>Nos Produits {{ fournisseur.nom }}:</strong></h1>
</div>



		{% for profou in fournisseur.produits %}
			
		<div class="col-3 justify-content-space-between text-center mt-5">
							
			<a href="{{ path("app_catalogue_produit", {produit: profou.id}) }}">
			<div class="card-body text-dark">
				
						<img src="/imagesVG/propho/{{profou.photo}}"alt="{{profou.libelle}}">
						<h6 class="card-title">{{profou.libelle}}</h6>
						<h5 class="card-title text-danger mt-3">{{profou.prixUnitaire}} €</h5>
							
					</div>
					</a>
				</div>
			
		{% endfor %}
		
	
</article>
{% endblock %}
