{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
    <h1>Produit</h1>

    
             
            
                Reference
                {{ produit.reference }}
           
            
                Libelle
                {{ produit.libelle }}
            
            
                Description
                {{ produit.description }}
            
            
                PrixUnitaire
                {{ produit.prixUnitaire }}
            
            
                Photo
                {{ produit.photo }}
            
            
                Stock
                {{ produit.stock }}
            
            
                Tva
                {{ produit.tva }}
            
            
                PrixAchat
                {{ produit.prixAchat }}
            
     

    

    
{% endblock %}
