{% extends 'base.html.twig' %}

{% block title %}SsCategorie index{% endblock %}

{% block body %}
{{include ("./base/navbaradmin.html.twig")}}
    <h1>SsCategorie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Photo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ss_categorie in ss_categories %}
            <tr>
                <td>{{ ss_categorie.id }}</td>
                <td>{{ ss_categorie.nom }}</td>
                <td>{{ ss_categorie.photo }}</td>
                <td>
                    <a href="{{ path('app_ss_categorie_show', {'id': ss_categorie.id}) }}">show</a>
                    <a href="{{ path('app_ss_categorie_edit', {'id': ss_categorie.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_ss_categorie_new') }}">Create new</a>
{% endblock %}
