{% extends 'base.html.twig' %}

{% block title %}Gestion{% endblock %}

{% block body %}
<div class="col-12">
		<h1 class="text-info text-center mt-5">Sous Categorie</h1>
	</div>
    <div class="col-4 text-center ">
		<h3 class="bg-info text-white mt-5 text-center">
			Identification de la sous categorie<h3>
				<h5 class="justify-content-inline mt-5">Numero de la sous categorie:
					<strong class="text-info">
						{{ ss_categorie.id }}</strong>
				</h5>
				<h5 class="justify-content-inline">nom de la  sous categorie :
					<strong class="text-info">
						{{ ss_categorie.nom }}
					</strong>
				</h5>
			</div>
            <div class="col-4 text-center  ">
            <h3 class="bg-info text-white mt-5 text-center">
                {{ss_categorie.nom}}
            </h3>
            <img src="/imagesVG/ssCatPho/{{ss_categorie.photo}}" alt="{{ss_categorie.nom}}" class="text-dark img.fluid" style="width:500px;height: 500px;">
        </div>
        <div class="text-center col-4">
        <h3 class="bg-info text-white mt-5 text-center">
            Sa categorie</h3>
            
        <img src="/imagesVG/CatPho/{{ss_categorie.catParent.photo}}" alt="{{ss_categorie.catParent.nom}}" class="text-dark img.fluid" style="width:500px;height: 500px;">
        <h3 class="bg-info text-white mt-5 text-center">
        {{ss_categorie.catParent.nom}}
    </h3>
</div>
<div class="col-12 text-center mt-3 ">
    <a href="{{ path('app_ss_categorie_index') }}"class="btn btn-info mx-5 my-5">Retour a la liste</a>

    <a href="{{ path('app_ss_categorie_edit', {'id': ss_categorie.id}) }}"class="mx-5 my-5 btn btn-warning">Modifier</a>

    {{ include('ss_categorie/_delete_form.html.twig') }}</div>
{% endblock %}
