{% extends 'base.html.twig' %}

{% block title %}Catalogue Produit{% endblock %}

{% block body %}
    <h1>Catalogue Produit</h1>

    <table class="table">
        <thead>
            <tr>
                
                
                <th>Libelle</th>
                <th>Description</th>
                <th>PrixUnitaire</th>
                <th>Photo</th>
                
                
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                
              
                <td>{{ produit.libelle }}</td>
                <td>{{ produit.description }}</td>
                <td>{{ produit.prixUnitaire }}</td>
                <td>{{ produit.photo }}</td>
                
                <td>
                    <a href="{{ path('app_produit_show', {'id': produit.id}) }}">Details</a>
                    <a href="{{ path('app_produit_edit', {'id': produit.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">pas d'enregistrement</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_produit_new') }}">Creer un nouveau produit</a>
{% endblock %}
