{% extends 'base.html.twig' %}

{% block title %}Actu{% endblock %}

{% block body %}
    <h1>Actu</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ actu.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ actu.nom }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ actu.type }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ actu.date ? actu.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ actu.lieu }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_actu_index') }}">back to list</a>

    <a href="{{ path('app_actu_edit', {'id': actu.id}) }}">edit</a>

    {{ include('actu/_delete_form.html.twig') }}
{% endblock %}
