<div class="text-left mt-5 mx-5 my-5 h5">

{{ form_start(form) }}
{{ form_row(form.adresseF,{
    label: 'Adresse de facturation:', attr: {
    placeholder:'Votre adresse de facturation '}
}) }}
{{ form_row(form.cpF,{
    label: 'Code Postal:', attr: {
    placeholder:'Le code postal '}
}) }}
{{ form_row(form.villeF,{
    label: 'Ville:', attr: {
    placeholder:'La ville '}
}) }}</div>
    <button class="btn btn-success text-center">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
</div>
