{% extends 'base.html.twig' %}
{# rendre fonctionnel + lien pour rejoindre specifiquement tel ou tel partie ,ajouter bouton publipostage et editer la facture #}
{% block title %}Commande{% endblock %}

{% block body %}

<div class="col-12">
    <h1 class="text-info text-center mt-5">Detail de la commande</h1>
</div>
<div class="col-3 text-center  ">
    <h3 class="bg-info text-white mt-5 text-center"> Identification de la commande<h3>
        <h5 class="justify-content-inline mt-5">Numero de commande : <stong class="text-info"> {{ commande.id }}</stong></h5>
        <h5 class="justify-content-inline">Date de la commande : <stong class="text-info">  {{ commande.date ? commande.date|date('d-m-Y') : '' }} </stong></h5>
    <h3 class="bg-info text-white mt-5 text-center"> Identification du Client<h3>
        <h5 class="justify-content-inline mt-5">Numero du client : <stong class="text-info"> {{ commande.user.id }}</stong></h5>
        <h5 class="justify-content-inline">Nom du client : <stong class="text-info">  {{ commande.user.nom }} </stong></h5>
        <h5 class="justify-content-inline">Adresse du client : <stong class="text-info">  {{ commande.user.adresse }} </stong></h5>
        <h5 class="justify-content-inline">code postal : <stong class="text-info">  {{ commande.user.cp }} </stong></h5>
        <h5 class="justify-content-inline">Ville : <stong class="text-info">  {{ commande.user.ville }} </stong></h5>
        <h5 class="justify-content-inline">Email : <stong class="text-info">  {{ commande.user.email }} </stong></h5>

</div>
<div class="col-7">
    <h3 class="bg-info text-white mt-5 text-center"> Ligne de commande </h3>
        <table class="table mt-5">
            <thead class="bg-info text-white text-center">
                <th>Numero de la ligne </th>
                <th>Numero du produit </th>
                <th>Adresse du client </th>
                <th>detail</th>
            </thead>
            <tbody class="text-center">
                <tr>
                    <td> lignedecommande.id </td>
                    <td>lignedecommande.produit.libelle</td>
                    <td>lignedecommande.totalLigne</td>
                    <td> voir</td> 
                </tr>

                <tr>
                    <td> lignedecommande.id </td>
                    <td>lignedecommande.produit.libelle</td>
                    <td>lignedecommande.totalLigne</td>
                    <td> voir</td>
                </tr>
                <tr>
                    <td> lignedecommande.id </td>
                    <td>lignedecommande.produit.libelle</td>
                    <td>lignedecommande.totalLigne</td>
                    <td> voir</td>
                </tr>
            {# <a href="{{ path('app_ligne_de_commande_show', {ligneDeCommandes:lignedecommande.id}) }}"> #}
            </tbody>
        </table>

</div> 
{# Ni la propriété "ligneDeCommande", ni l'une des méthodes "ligneDeCommande()", "getligneDeCommande()"/"isligneDeCommande()"/"hasligneDeCommande()" 
ou "__call()" n'existent et n'ont un accès public dans la classe "App\ Entité\Commande". #}

<div class="col-2">
<h3 class="bg-info text-white mt-5 text-center"> Facturation et Livraison <h3>
<h5 class="text-center mt-5">Adresse de facturation : <strong class="text-info"> 7 rue Danton 80000 Amiens</strong></h5>

<h5 class="text-center mt-5">Adresse de Livraison : <strong class="text-info">  7 rue Danton 80000 Amiens</strong></h5>
<h5 class="text-center mt-5 ">Statut de la commande : <strong class="text-success">  {{ commande.statut }} </strong></h5>
</div>
{# Variable "livraison" does not exist. #} 




<div class="col-12 text-center">
    <a href="{{ path('app_commande_index') }}" class="btn btn-info">Retour a la liste</a>
</div>

{% endblock %}
