{% extends 'base.html.twig' %}

{% block title %}Liste des messages
{% endblock %}

{% block body %}

	<div class="col-12">


		<h1 class="text-info text-center mt-5">
			Liste des messages
		</h1>
		<div id="crud" class="col-12 text-center   mt-5">

			<table class="table">
				<thead class="table bg-info mt-5 text-white text-center">
					<tr>
						<th>Id</th>
						<th>Nom</th>
						<th>Email</th>
						<th>Sujet</th>
						<th>actions</th>
					</tr>
				</thead>
				<tbody class="text-center ">
					{% for contact in contacts %}
						<tr>
							<td>{{ contact.id }}</td>
							<td>{{ contact.Nom }}</td>
							<td>{{ contact.Email }}</td>
							<td>{{ contact.sujet }}</td>
							<td class="text-center">
								<a href="{{ path('app_contact_show', {'id': contact.id}) }}" class=" btn btn-info mr-5">Voir</a>

							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="7">no records found</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>


		{% endblock %}