{% extends 'base.html.twig' %}

{% block title %}Fournisseur{% endblock %}

{% block body %}

<div class="col-12">
    <h1 class="text-info text-center mt-5">Fournisseur</h1>
</div>
<div class="col-4 text-center  ">
<h3 class="bg-info text-white mt-5 text-center"> {{fournisseur.nom}} <h3>

<img src="/imagesVG/foupho/{{fournisseur.photo}}"alt="{{fournisseur.nom}}"class="text-dark img.fluid" style="width:500px;height: 500px;"> 
    </div>  
    <div class="col-4 text-center "> 
        <h3 class="bg-info text-white mt-5 text-center"> Identification du fournisseur<h3>
        <h5 class="justify-content-inline mt-5">Numero du fournisseur : <stong class="text-info"> {{ fournisseur.id }}</stong></h5>
        <h5 class="justify-content-inline">nom du fournisseur : <stong class="text-info">  {{ fournisseur.nom }} </stong></h5>
    </div>
    <div class="col-4 text-center"> 
        <h3 class="bg-info text-white mt-5 text-center"> Adresse et Contacts<h3>
            <h5 class="justify-content-inline mt-5">Adresse du fournisseur : <stong class="text-info"> {{ fournisseur.adresse }}</stong></h5>
            <h5 class="justify-content-inline">cp du fournisseur : <stong class="text-info">  {{ fournisseur.cp }} </stong></h5>
            <h5 class="justify-content-inline">Ville du fournisseur : <stong class="text-info">  {{ fournisseur.ville }} </stong></h5>
    </div> 

<div class="col-12 text-center">
    <a href="{{ path('app_fournisseur_index') }}" class="btn btn-info mx-5 my-5">Retour a la liste</a>

    <a href="{{ path('app_fournisseur_edit', {'id': fournisseur.id}) }}" class="mx-5 my-5 btn btn-warning">Modifier</a>

    {{ include('fournisseur/_delete_form.html.twig') }}
</div>
{% endblock %}
