{% extends 'base.html.twig' %}

{% block title %}Utilisateur
{% endblock %}

{% block body %}
	<div class="col-12">
		<h1 class="text-info text-center mt-5">Profil</h1>
	</div>
	<div class="col-6 text-center ">
		<h3 class="bg-info text-white mt-5 text-center">
			Mes identifiants:</h3>
		<h5 class="mt-5">Email :
			<strong class="text-info">
				{{ user.email }}</strong>
		</h5>
		<h5 class="mt-5">Nom :
			<strong class="text-info">
				{{ user.nom }}
			</strong>
		</h5>
		<h5 class="mt-5">Prenom :
			<strong class="text-info">
				{{ user.prenom }}
			</strong>
		</h5>
		<h5 class="mt-5">Pseudo :
			<strong class="text-info">
				{{ user.pseudo }}
			</strong>
		</h5>
	</div>
	<div class="col-6 text-center ">
		<h3 class="bg-info text-white mt-5 text-center">
			Mes coordonnées:</h3>
		<h5 class="mt-5">Adresse client :
			<strong class="text-info">
				{{ user.adresse }}
			</strong>
		</h5>
		<h5 class="mt-5">Code Postal :
			<strong class="text-info">
				{{ user.cp }}
			</strong>
		</h5>
		<h5 class="mt-5">Ville :
			<strong class="text-info">
				{{ user.ville }}
			</strong>
		</h5>
	</div>
	<div class="col-12 text-center mx-5 my-5">
		<a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn btn-warning mt-5">edit</a>

		{{ include('user/_delete_form.html.twig') }}

	</div>
{% endblock %}