{% extends 'base.html.twig' %}

{% block title %}Catalogue
{% endblock %}

{% block body %}
		<h5></strong>Catégorie  {{ produit.sscategorie.catParent.nom }} Sous categorie {{ produit.sscategorie.nom }} Produit {{ produit.libelle }} </strong></h5>
		
			<div class="col-3">
				<div class="card">
					<div class="card-body">
						<img src="/imagesVG/propho/{{produit.photo}}"alt="card-img-top">
						<h6 class="card-title">{{produit.libelle}}</h6>
					</div>
					</a>
				</div>
                <a href="{{path("panier_add",{id:produit.id})}}" class="btn btn-success">
                <i class="bi bi-cart-plus"></i>Ajouter</a>
			</div>
			
		<p></p>
	
</article>{% endblock %}
