{% extends 'base.html.twig' %}

	{% block title %}Catalogue{% endblock %}

		{% block body %}
		<div class="row">
				<div class="col-12 text-center">
						<img src="/imagesVG/Component/b3b.png" alt="banniere" class="img-fluid" style="width:2500px;height:700px">
			<article>
						<h1 class="text-center mt-5 "><strong>Nos Produits:</strong></h1>
				
						<h4 class= " text-center mt-5 ">{{ sscategorie.catParent.nom }} > {{ sscategorie.nom }}</h4>
					</div>	
				{% for prosscat in sscategorie.produits %}
					<div class="col-4  text-center mt-5">
						<a href="{{ path("app_catalogue_produit", {produit: prosscat.id}) }}">
							<div class="card-body text-dark mt-5">
								<img src="/imagesVG/propho/{{prosscat.photo}}"alt="{{prosscat.libelle}}"style="width:200px;height:200px" class="text-dark img.fluid mt-5" >
								<h4 class="card-title text-dark mt-3">{{prosscat.libelle}}</h4>
								<h4 class="card-title text-danger mt-3 "><strong>{{prosscat.prixUnitaire}} € </strong></h4>
							</div>
						</a>
					</div>
				{% endfor %}
			
	
</article>
</div>
{% endblock %}
